.anu-navbar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 56px;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  font-size: 18px;
  position: relative; }
  .anu-navbar.text-color-black {
    color: rgba(0, 0, 0, 0.87); }
  .anu-navbar__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; }


