.anu-title {
  overflow: hidden; }
  .anu-title:not(.scroll) {
    text-align: center; }
  .anu-title__wrapper {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    line-height: 1;
    white-space: nowrap;
    -webkit-transition: all ease 1s;
    transition: all ease 1s; }
  .anu-title__sub {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    font-size: 14px;
    line-height: 1; }
  .anu-title.small .anu-title__wrapper {
    font-size: 17px; }


